Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})


Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [8]:
df[['course_name','duration']][0:2]

        course_name  duration
0      Data Science         2
1  Machine Learning         3

In [21]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [23]:
df.iloc[1:4,1:2]

   duration
1         3
2         6
3         4

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

'loc' : This function is used for label-based indexing. It allows you to access data based on the row and column labels. You can use it with either single labels or lists/slices of labels.
For example,'dfloc[2]' would access the row label 2, and 'df[2:5,'Column_name']would access the rows from 2 to 5 and the column with the specified name.

'iloc' : This function is used for integer-based indexing. It allows you to access data based on the integer indices of the rows and columns.You can use it with either single indices or lists/slices of indices.for example , df.iloc[0] would access the row with index 1, and df.iloc[1:4,2:5] would access the rows from 1 to 3 and the columns from 2 to 4.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [41]:
df['reindex']= [3,0,1,2]

In [42]:
df

              course_name  duration  reindex
reindex
3            Data Science         2        3
0        Machine Learning         3        0
1                Big Data         6        1
2           Data Engineer         4        2

In [40]:
df.loc[2]

course_name    Data Engineer
duration                   4
reindex                    2
Name: 2, dtype: object

In [43]:
df.iloc[2]

course_name    Big Data
duration              6
reindex               1
Name: 1, dtype: object

In [24]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [25]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.368790  0.940673  0.281349  0.670402  0.690361  0.945179
2  0.707237  0.086242  0.852045  0.696142  0.678992  0.598735
3  0.482344  0.112155  0.188385  0.438743  0.013035  0.029872
4  0.617587  0.081672  0.345779  0.746885  0.566825  0.157769
5  0.987221  0.995631  0.788667  0.044313  0.875704  0.209953
6  0.511633  0.294887  0.454745  0.696605  0.934153  0.524487

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [44]:
df1.mean()

column_1    0.612468
column_2    0.418543
column_3    0.485162
column_4    0.548848
column_5    0.626512
column_6    0.410999
dtype: float64

In [45]:
df1['column_2'].std()

0.43329434095560115

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [49]:
df1.loc[2,'column_2']='jyoti'

In [51]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.368790  0.940673  0.281349  0.670402  0.690361  0.945179
2  0.707237     jyoti  0.852045  0.696142  0.678992  0.598735
3  0.482344     jyoti  0.188385  0.438743  0.013035  0.029872
4  0.617587  0.081672  0.345779  0.746885  0.566825  0.157769
5  0.987221  0.995631  0.788667  0.044313  0.875704  0.209953
6  0.511633  0.294887  0.454745  0.696605  0.934153  0.524487

In [53]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Yes getting error , because float and str cannot be supported

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

window function is a function that performs calculations on a set of rows defined by a window or a group of rows. It allows you to perform operations that involve a sliding window of data within a DataFrame.

Here are some types of window functions available in pandas:

1. Rolling: This window function calculates statistics over a sliding window of a specified size. It is commonly used for moving averages and other rolling calculations.

2. Expanding: This window function calculates statistics over a growing window that starts from the beginning of the DataFrame and expands with each row.

3. EWM (Exponentially Weighted Moving): This window function calculates exponentially weighted statistics over a specified window.

4. GroupBy: This window function is used in conjunction with the groupby operation to perform calculations within each group.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [57]:
from datetime import datetime
curent_month = datetime.now().month
current_year = datetime.now().year

In [58]:
curent_month

3

In [59]:
current_year

2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
date1 = input("Enter the first date(YYYY.MM.DD HH:MM):")
date2 = input("Enter the second date(YYYY.MM.DD HH:MM:")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_difference = date2 - date1
days = time_difference.days
hours = time_difference.seconds//3600
minutes =( time_differencee.seconds//60)%60
print(time_difference)
print(days)
print(hours)
print(minutest)

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results